<div class="container">
  <a routerLink="/mascota/editar" class="btn btn-success">
    Registrar nueva mascota</a
  >
  <div class="card-group" style="height: 600px; width: 600px">
    <div class="card" *ngFor="let mascotaTemp of mascotas" >
      <img src="{{mascotaTemp.foto}}" class="img-responsive" alt="Card image cap" style="height: 300px ; width: 300px;" />

      <div class="card-body">
        <h5 class="card-title"> {{mascotaTemp.nombre}} </h5>
        <p class="card-text"> {{mascotaTemp.enfermedades}} </p>
        <p class="card-text"> {{mascotaTemp.actualizado}} <small class="text-muted"></small></p>

        <a routerLink="/mascota/editar/{{mascotaTemp.id}}" class="btn btn-warning">
          Mostrar más
        </a>
      </div>
    </div>
  </div>
</div>
