<div class="container">
  <form #mascotaForm="ngForm" (ngSubmit)="agregar(mascotaForm.form)">
    <div class="modal-body">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          name="nombre"
          class="form-control"
          #nombre="ngModel"
          [(ngModel)]="mascota.nombre"
          required
          minlength="2"
        />
      </div>
      <div class="form-group">
        <label for="descripcion">Descripcion</label>
        <input
          type="text"
          name="descripcion"
          class="form-control"
          #nombre="ngModel"
          [(ngModel)]="mascota.descripcion"
          required
          minlength="10"
        />
      </div>

      <div class="form-group">
        <label for="enfermedades">Enfermedades</label>
        <input
          type="text"
          name="enfermedades"
          class="form-control"
          #nombre="ngModel"
          [(ngModel)]="mascota.enfermedades"
          required
          minlength="5"
        />
      </div>
      <div class="form-group" *ngIf="!id">
        <label for="foto">Foto</label>
        <input
          type="file"
          name="foto"
          id="foto"
          class="form-control"
          (change)="capturarFile($event)"
          required
        />
      </div>

      <div class="form-group" *ngIf="id">
        <label for="foto">Foto</label>
        <input
          type="file"
          name="foto"
          id="foto"
          class="form-control"
          (change)="capturarFile($event)"
        />
      </div>

      <div class="py-2">
        <div class="form-group" *ngIf="!id">
          <a routerLink="/" class="btn btn-primary">Regresar</a>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!capturarFile"
            style="margin-left: 60%"
          >
            Guardar
          </button>
        </div>

        <div class="form-group" *ngIf="id">
          <a routerLink="/mascota/{{id}}" class="btn btn-primary">Regresar</a>
          <button type="submit" class="btn btn-success" style="margin-left: 60%">Modificar</button>
        </div>
      </div>
    </div>
  </form>
</div>
